<!-- File: project/templates/project/login.html -->
<!-- Author: Kai Solter (ksolter@bu.edu), 4/20/2026 -->
<!--Description: Template for logging in to the final project app -->

{% extends 'project/base.html' %} {% block content %}
<h1>Login</h1>
<form action="{% url 'login' %}" method="POST">
  {% csrf_token %} {{ form}}
    <input type="submit" value="Login" />
  {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}" />
  {% else%}
    <input type="hidden" name="next" value="{% url 'profile_self' %}" />
  {% endif %}
</form>
{% endblock %}
