{% extends "quotes/base.html" %} {% block content %}
<h1>About Paul Morphy</h1>
<p>
  Paul Morphy was an American Chess Master who lived from June 22, 1837 to July
  10, 1884. He is considered to be the greatest chess player of his era. He was
  undefeated in official matches, before he retired from chess and public life
  at the age of 22. Although the official Chess World Championship did not exist
  during his time, Morphy is often considered to be the first world chess
  champion. He was known for his brilliant queen sacrifices and strong attacking
  style.
</p>
{% endblock %}
