<!-- File: quotes/templates/quotes/base.html -->
<!-- Author: Kai Solter (ksolter@bu.edu), 1/30/2026 -->
<!--Description: Base template for Paul Morphy Quotes -->
{% load static %}
<html>
  <head>
    <title>Paul Morphy Quotes!</title>
    <link rel="stylesheet" href="{% static 'quoteStyle.css' %}" />
  </head>
  <body>
    <div class="navbox">
      <nav>
        <a href="{% url 'quote' %}">Quote</a> |
        <a href="{% url 'show_all' %}">Show All</a> |
        <a href="{% url 'about' %}">About</a>
      </nav>
    </div>
    {% block content %} {% endblock %}
    <footer>page by Kai Solter <br /></footer>
  </body>
</html>
