<!-- File: quotes/templates/quotes/show_all.html -->
<!-- Author: Kai Solter (ksolter@bu.edu), 1/30/2026 -->
<!--Description: Show all quotes and images of Paul Morphy -->
{% extends "quotes/base.html" %} {% block content %}
<div class="contentBox">
  <h1>All Paul Morphy Quotes</h1>
  {% for quote in quotes %}
  <p>{{ quote }}</p>
  {% endfor %}

  <h1>All Images of Paul Morhpy</h1>
  {% for image in images %}
  <div class="image-container">
    <img src="{{ image }}" alt="Image of Paul Morphy" />
  </div>
  {% endfor %} {% endblock %}
</div>
