<!-- File: mini_insta/templates/mini_insta/create_post.html -->
<!-- Author: Kai Solter (ksolter@bu.edu), 2/13/2026 -->
<!--Description: Template for creating a new post in mini_insta app -->
{% extends "mini_insta/base.html" %} {% block content %}
<h1>Create a new post</h1>
<form
  action="{% url 'create_post' %}"
  method="POST"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <input type="file" name="files" multiple />
  <table>
    {{form.as_table}}
  </table>
  <input type="submit" name="submit" value="Submit" />
  <input
    type="button"
    name="cancel"
    value="Cancel"
    onclick="window.location.href='{% url 'profile_self' %}'"
  />
</form>
{% endblock %}
