{% extends 'mini_insta/base.html' %} {% block content %}
<h1>Login</h1>
<form action="{% url 'login' %}" method="POST">
  {% csrf_token %} {{ form}}
  <input type="submit" value="Login" />
  {% if request.GET.next %}
  <input type="hidden" name="next" value="{{ request.GET.next }}" />
  {% else%}
  <input type="hidden" name="next" value="{% url 'profile_self' %}" />
  {% endif %}
</form>

{% comment %}
<hr />
Don't have an account? <a href="{% url 'register' %}">Register here</a>
{%endcomment %} {% endblock %}
