<!-- File: mini_insta/templates/mini_insta/show_profile.html -->
<!-- Author: Kai Solter (ksolter@bu.edu), 2/13/2026 -->
<!--Description: Display single profile for mini_insta app -->

{% extends 'mini_insta/base.html' %} {% block content%}
<h1>{{profile.username}}</h1>
<div>
  <div>
    <div>
      <h2>{{ profile.display_name }}<h2>
    </div>
    <img src="{{profile.profile_image_url}}" alt="" />
    <p>{{profile.bio_text}}</p>
  </div>
  <p>{{profile.join_date}}</p>
  <hr />
  <div>
    <h2>Posts</h2>
    {% for post in profile.get_all_posts %}
    <div>
      {% with first_photo=post.get_all_photos.first %}
      {% if first_photo %}
      <a href="{% url 'post' post.pk %}">
        <img src="{{first_photo.get_image_url}}" alt="" />
      </a>
      {% else %}
      <a href="{% url 'post' post.pk %}">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png?20210521171500" alt="" />
      </a>
      {% endif %}
      {% endwith %}
       <p>{{post.caption}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
